/* General */

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.2;
}

a {
  text-decoration: none;
}

/* header */

header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 1.5rem;
  background-color: #fff;
}

header .logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  margin-right: 0.5rem;
  height: 2rem;
}

header .logo-text {
  text-transform: uppercase;
  color: #9b9b9b;
  font-size: 1rem;
}

header .logo-text span {
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: bold;
}

header nav ul {
  display: flex;
}

nav ul li {
  padding: 0 1rem;
  color: #4a4a4a;
}

header a {
  font-size: 0.9rem;
  color: #4a4a4a;
}

/* banner */

.main-banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #d8d8d8;
}

.banner-img {
  width: 60%;
  margin: 2rem 1.5rem;
}

.banner-img .main-img img {
  width: 100%;
}

.learn {
  width: 40%;
}

.calltoaction h1 {
  color: #4a4a4a;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.calltoaction h3 {
  color: #4a4a4a;
  font-size: 1rem;
  font-weight: bolder;
}

.calltoaction-button {
  background-color: #4a4a4a;
  text-align: center;
  padding: 0.5rem 0;
  width: 18rem;
  margin-top: 1.5rem;
}

.calltoaction-button a {
  color: #fff;
}

/* main content */

.main-content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f3f5f5;
}

.main-info {
  width: 60%;
  margin: 2rem 1.5rem;
}

.main-info .main-img img {
  width: 100%;
}

.teaser {
  margin: 2rem 0;
  color: #4a4a4a;
}

.teaser h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.teaser p {
  font-size: 1rem;
  font-weight: lighter;
}

.teaser .author {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2rem;
}

.featured-info {
  width: 40%;
  margin: 2rem 0;
  border-left: 1px solid #e0e2e2;
}

.info h3 {
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: 600;
}

.info p {
  font-size: 0.8rem;
  color: #4a4a4a;
  font-weight: lighter;
}

.info a {
  font-size: 1rem;
  color: #4a90e2;
  font-weight: 400;
}

.info {
  display: flex;
  align-items: center;
  line-height: 1.7;
}

.orientation {
  border-bottom: 1px solid #e0e2e2;
  margin-bottom: 0.1rem;
  padding: 0 1rem 1rem 1rem;
}
.campus {
  border-top: 1px solid #e0e2e2;
  padding: 1rem;
}

.keynote {
  background-color: #d8d8d8;
  padding: 1rem;
}

.info img {
  width: 35%;
  height: auto;
  margin-right: 1rem;
}

.info .info-content {
  width: 65%;
}

/* learning & courses */

.learning {
  background-color: #eaebec;
  padding: 2rem 4.5rem;
  color: #4a4a4a;
}

.learning h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.courses {
  display: flex;
}

.course {
  background-color: #fff;
  color: #4a4a4a;
  width: 30%;
}

.software,
.computerart,
.design {
  margin: 0 2rem 2rem 0;
}

.data,
.business,
.marketing {
  background-color: #fff;
  color: #4a4a4a;
  width: 30%;
  margin: 0 2rem 0 0;
}

.course img {
  width: 100%;
  height: auto;
}

.course-content {
  text-align: left;
  padding: 1rem 1rem 1rem 1rem;
}

.course h3 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.course h4 {
  font-size: 0.8rem;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.course p {
  font-size: 0.8rem;
  font-weight: lighter;
}

/* thesis section */

.thesis-exhibit {
  background-color: #f3f5f5;
  padding: 2rem 0 2rem 1.5rem;
  color: #4a4a4a;
}

.thesis-exhibit h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.thesis-content {
  display: flex;
}

.main-thesis {
  width: 60%;
  margin-right: 1.5rem;
}

/* margin: 2rem 1.5rem; */

.main-thesis .main-vid video {
  width: 100%;
  height: auto;
}

.main-thesis h3 {
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.featured-thesis {
  width: 40%;
}

.thesis h3 {
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: 600;
}

.thesis p {
  font-size: 0.8rem;
  color: #4a4a4a;
  font-weight: lighter;
}

.thesis a {
  font-size: 1rem;
  color: #4a90e2;
  font-weight: 400;
}

.thesis {
  display: flex;
  align-items: center;
  line-height: 1.7;
}

.thesis-teaser {
  width: 65%;
}

.fisma {
  margin-bottom: 0.1rem;
  padding: 1rem;
  background-color: #d8d8d8;
}
.now-then {
  padding: 1rem;
}

.thesis img {
  width: 35%;
  height: auto;
  margin-right: 1rem;
}
